DATABASE_URL="postgresql://username:password@localhost:5432/mydb?sslmode=disable";
NEXTAUTH_SECRET="better_secret_password";
ADMIN_INITIAL_EMAIL="admin@example.com";
ADMIN_INITIAL_PASSWORD="your_secure_admin_password";