@layer components {
  .addWishlist {
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: var(--primary-hover-color);
    cursor: pointer;
    transition: background-color 0.4s;
    .addWishlist__icon {
      fill: black;
      transition: fill 0.4s;
      width: 20px;
      height: 20px;
    }
  }
  .addWishlist_primary {
    position: absolute;
    top: 22%;
    left: 10px;
    width: 30px;
    height: 30px;
    &:hover {
      background-color: var(--secondary-color);
      .addWishlist__icon {
        fill: white;
      }
    }
  }
  .addWishlist_secondary {
    width: 44px;
    height: 44px;
    &:hover {
      background-color: var(--secondary-color);
      .addWishlist__icon {
        fill: white;
      }
    }
  }
  @container (min-width: 500px) {
    .addWishlist_primary {
      top: 25%;
    }
  }
  @container (min-width: 768px) {
    .addWishlist_primary {
      top: 23%;
      left: 15px;
      width: clamp(30px, 1.95cqw, 50px);
      height: clamp(30px, 1.95cqw, 50px);
      .addWishlist__icon {
        width: clamp(20px, 1.17cqw, 30px);
        height: clamp(20px, 1.17cqw, 30px);
      }
    }
    .addWishlist_secondary {
      width: clamp(44px, 2.148cqw, 55px);
      height: clamp(44px, 2.148cqw, 55px);
      .addWishlist__icon {
        width: clamp(20px, 1.17cqw, 30px);
        height: clamp(20px, 1.17cqw, 30px);
      }
    }
  }
  @container (min-width: 1400px) {
    .addWishlist_primary {
      top: 28%;
    }
  }
}
